#title{
    text-align: center;
}
#button-container{
    display: flex;
    justify-content: center;
}
#on{
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#off{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#image-container{
    display: flex;
    justify-content: center;
}
#img{
    width: 250px;
    height: 500px;
}